.container-fluid {
  /*padding-left: 0px;*/
  /*padding-right: 0px !important;*/
}



@media (min-width: 576px){
.card-deck .card:not(:last-child) {
    margin-right: 0;
  }
}

.card-img-top {
  border-radius: 0;
}

.btn-primary:hover {
  background-color: inherit;
  border-color: inherit;
}

.btn {
  background-color: #00adbd;
}

body {
  /*font-family: "Whitney";*/
}

.col-4 {
  /*border-style: solid;
  border-color: red;*/
  padding: 0;
}

#first-header {
  display: inline-flex;
}

.title, .card-title {
  text-transform: uppercase;
}

#second-card {
  background-color: #e3e8ed;
}

#logo {
padding-top: 8px;
background-color: rgba(255, 255, 255, 0.1);
}

#join-cta {
  margin-left: 320px;
}

#imagery-title {
  margin-bottom: 2.0rem;
}

#light-purple {
  width: 25%;
  height: 50px;
  background-color: #805480;
}

#dark-purple {
  background-color: #360038;
  height: 16.66px;
}
#medium-purple {
  background-color: #5f3560;
  height: 16.66px;
}

#color2 {
width: 25%;
height: 50px;
background-color: #00adbd;
}

#color3 {
width: 25%;
height: 50px;
background-color: #0097a5;
}

#color4 {
width: 25%;
height: 50px;
background-color: #008091;
}

#second-card-image {
  width: 250px;
  height: auto;
  float: right;
  /*NOTE: May need to modify the float for the actual image to use margins, or something different */
}

#product-tile {
  background-color: #64316d;
  color: #fff;
}

#product-photo {
    width: 250px;
    height: auto;
    float: right;
}

#showcase-title {
  padding-top: 50px;
  text-transform: uppercase;
}

#icons-background {
  background-color: #008091;
}

.col-5.icons-tile {
  padding-left: 0px;
  padding-right: 0px;
  /*border: 0;*/
}

.card {
  border: none;
  border-radius: 0;
}

.card-block .cards{
  /*text-align: center;*/
  padding: 10px;
}

.icon-wrapper {
  display: flex;
  flex-flow: row wrap;
  background-color: #e3e8ed;
  padding-top: 50px;
}

.icon-block {
  flex: 1 0 0%;
  flex-direction: column;
  position: relative;
  text-align: wrap;
}
