.container-fluid {
  /*padding-left: 0px;*/
  /*padding-right: 0px !important;*/
}



@media (min-width: 576px){
.card-deck .card:not(:last-child) {
    margin-right: 0;
  }
}

.card-img-top {
  border-radius: 0;
}

.btn-primary:hover {
  background-color: inherit;
  border-color: inherit;
}

.col-4 {
  /*max-width: 34.9%;*/
}

.col-8 {
  max-width: 63.333%;
}
.btn {
  background-color: #00adbd;
}

body {
  /*font-family: "Whitney";*/
}

.col-4 {
  border-style: solid;
  border-color: red;
}
/*.col-5 {
    border-style: solid;
    border-color: maroon;
}*/
.col-6 {
  border-style: solid;
  border-color: pink;
}
/*.col-7 {
  border-style: solid;
  border-color: yellow;
}*/
.col-8 {
  border-style: solid;
  border-color: magenta;
}
/*div {
  border-style: solid;
  border-color: orange;
}*/

.row {
  /*border-style: solid;
  border-color: black;*/
}
#first-header {
  display: inline-flex;
}

.title, .card-title {
  text-transform: uppercase;
}

#second-card {
  background-color: #e3e8ed;
  /*max-width: 70% !important;*/
}

#logo {
padding-top: 8px;
}

#join-cta {
  margin-left: 320px;
}

#imagery-title {
  margin-bottom: 2.0rem;
}

#light-purple {
  width: 100px;
  height: 50px;
  background-color: #805480;
}

#dark-purple {
  background-color: #360038;
  height: 16.66px;
}
#medium-purple {
  background-color: #5f3560;
  height: 16.66px;
}

#color2 {
width: 100px;
height: 50px;
background-color: #00adbd;
}

#color3 {
width: 100px;
height: 50px;
background-color: #0097a5;
}

#color4 {
width: 100px;
height: 50px;
background-color: #008091;
}

#second-card-image {
  width: 250px;
  height: auto;
  float: right;
  /*NOTE: May need to modify the float for the actual image to use margins, or something different */
}

#product-tile {
  background-color: #64316d;
  color: #fff;
}

#product-photo {
    width: 250px;
    height: auto;
    float: right;
}

#showcase-title {
  padding-top: 50px;
  text-transform: uppercase;
}

#icons-tile {
  background-color: #008091;
  /*color: #fff;*/
}

.card {
  border: none;
  border-radius: 0;
}

.card-block .cards{
  text-align: center;
  /*padding: 8px;*/
}

.icon-wrapper {
  display: flex;
  flex-flow: row wrap;
}

.icon-block {
  flex: 1 0 0%;
  flex-direction: column;
  position: relative;
}
